body,ul{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
header{
    height: 100px;
    width: 100%;
}
nav{
    width: 100%;
    height: 75px;
    align-items: center;
    justify-content: space-around;
    background-color: #555;
}
nav ul {
    list-style-type: none;
    text-align: center;
    padding: 10px 0;
}
nav ul li{
    display: inline;
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a:hover{
    background-color:black;
}
.right{
    float: left;
}
.hlheader{
    font-size: x-small;
    font-style: italic;
    padding-left: 13px;
}
.img1{
    width: 80px;
    height: 100%;
    margin-left: 10px;
}
.left{
    float: right;
   margin-top: -75px;
}
.hlheader2{
    font-size: x-small;
    font-style: italic;
    padding-left: 2px;
}
.img2{
    width: 80px;
    height: 100%;
    margin-right: 10px;
}
.head{
     padding: 10px;
     font-size:20px;
     font-style: oblique;
     font-family: Arial, Helvetica, sans-serif;
     background-color: #555;
}
.par{
    font-size: large;
    font-style: oblique;
    background-color: #555;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.s{
   display: flex; 
   padding: 10px;
   height: 300px;
   width:calc(100%/3);
   justify-content: space-evenly;
}
.s div{
    background-color: #555;
    display: flex;
    justify-content: space-evenly;
}
.footer{
    background-color: #24262b;
}
.container{
    margin: auto;
    max-width: 1170px;
}
.row{
    display:flex ;
    flex-wrap: wrap;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li a{
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s ease ;
}
.footer-col ul li a:hover{
   color:aqua;
   padding-left: 10px;
}

.footer h4{
    color: #ffffff;
    font-size: 18px;
    position: relative;
    padding-bottom: 15px;
}
.footer h4::before{
    position: absolute;
    content: "";
    left: 0;
    bottom: 10px;
    background-color: #e91e63;
    height:2px; 
    width:50px ;
}
.footer-col .social-links a{
   display: inline-block;
   margin: 10px 0;
   width: 30px;
   height: 30px;
   background-color: rgba(255, 255, 255, 0.5);
   border-radius: 50%;
   text-align: center;
   line-height: 30px;
   
}

